.footer-widget {
  color: $color-gray;
  font-size: 16px;

  padding: 0;
  margin: 0;

  list-style: none;
  cursor: pointer;
}

.footer-widget__title {
  font-weight: 600;
  margin-bottom: 15px;

  &:hover {
    color: $color-primary;
  }
}
.footer-widget__item {
  margin-bottom: 15px;
  font-weight: normal;
  
  &:hover {
    color: $color-primary
  }
}
