.social-links {
  display: flex;
  flex-direction: row;
  gap: 15px;

  padding: 0;
  margin: 0;
  
  list-style: none;
  margin-bottom: 0;
  cursor: pointer;
}
.social-links__item {
  // margin-left: 15px;
  &:hover {
    .social-links__icon {
      color: $color-primary;
    }
  }
}
