$button-color: $color-primary;
$button-primary-color: $color-primary;
$button-secondary-color: $color-secondary;
$button-text-color: $color-white;

.button {
  display: inline-flex;
  padding: 12px 28px;
  border: 1px solid transparent;

  color: $button-color;
  line-height: 1.15;
  font-weight: 700;

  cursor: pointer;

  &:hover {
    border-color: currentColor;
  }
}

.button--primary {
  color: $color-white;
  background-color: $button-primary-color;

  &:hover {
    color: $button-primary-color;
    background-color: transparent;
  }
}

.button--secondary {
  background-color: $button-secondary-color;

  &:hover {
    background-color: $color-white;
  }
}

.button--text {
  background-color: $button-text-color;
}

.button--icon {
  font-size: 28px;
  padding: 10px;
  background-color: transparent;
  border-color: currentColor;
}
