.footer-widget {
  background-color: #f2f2f2;
  color: #505050;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 0;
  cursor: pointer;
}

.footer-widget__title {
  font-weight: 600;
  margin-bottom: 15px;

  &:hover {
    color: red;
  }
}
.footer-widget__item {
  margin-bottom: 15px;
  font-weight: normal;
  &:hover {
    color: red;
  }
}
