.link {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5px;
  width: 223px;
  height: 53px;

  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  border: 1px solid transparent;

  outline: none;
  text-decoration: none;
  text-align: center;
  letter-spacing: -0.38px;

  cursor: pointer;

  svg {
    margin-top: 5px;
  }

  &:hover {
    background: $color-white;
    color: $color-primary;
    border-color:  $color-primary;
    svg path {
      stroke: $color-primary;
    }
  }
}

.link--primary {
  color: $color-white;
  background: $color-primary;
}

.link--secondary {
  background: $color-secondary;
  color: $color-primary;
  border-color:  $color-secondary;
  svg path {
    stroke: $color-primary;
  }
}

// .link--small {
//   font-size: 12px;
//   padding: 10px 16px;
// }

// .link--medium {
//   font-size: 14px;
//   padding: 11px 20px;
// }

// .link--large {
//   font-size: 18px;
//   padding: 5px;
//   width: 223px;
//   height: 53px;
//   font-weight: 500;
// }
