.link {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  outline: none;
  text-decoration: none;
  text-align: center;

}

.link--red {
  color: white;
  background: #e40b27;
  border: 1px solid #e40b27;
}

.link--red:hover {
  background: transparent;
  color: #e40b27;
  transition: background-position 0.9s;
}

.link--grey {
  background: #f2f2f2;
  color: #e40b27;
  border: 1px solid #f2f2f2;
  transition: background-position 0.9s;
}

.link--grey:hover {
  border: 1px solid #e40b27;
  background: white;
  background-position: top;
}

.link--small {
  font-size: 12px;
  padding: 10px 16px;
}

.link--medium {
  font-size: 14px;
  padding: 11px 20px;
}

.link--large {
  font-size: 16px;
  padding: 12px 24px;
}
